/* Вenefits section */

.benefits {
  &__item {
    display: block;
  }

  &__icon {
    @include flex-center;

    height: 120px;

    background-color: $light-bg-cl;

    border-radius: $radius-standart;
  }

  &__icon--position {
    margin-bottom: 30px;
  }

  &__title {
    @include mq(mob-only) {
      text-align: center;
    }

    @include line-height(14px, 16px);
    text-transform: uppercase;

    color: $title-txt-cl;
  }

  &__title--position {
    margin-bottom: 10px;
  }
}
