/* Footer section */

.footer {
  background-color: $dark-bg-cl;
  color: $white-cl;

  &__info {
    @include mq(desk) {
      display: flex;
      align-items: baseline;
      gap: 70px;
    }

    @include mq(mob-only) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 60px;
    }

    @include mq(tab-only) {
      display: flex;
      flex-wrap: wrap;
    }

    &--position {
      @include mq(tab-only) {
        padding-left: 76px;
        margin-bottom: 60px;
      }
    }
  }

  &__address {
    font-style: inherit;

    @include mq(noDesk) {
      text-align: center;
    }
  }

  &__socials {
    @include mq(tab-only) {
      padding-right: 89px;
      margin-left: auto;
    }
  }

  &--select {
    transition: color $animation;
  }

  &--select:hover,
  &--select:focus {
    color: $accent-cl;
  }

  &__item--position:not(:last-child) {
    margin-bottom: 9px;
  }

  &--contact {
    color: $footer-cont-cl;
  }
}
