/* Footer section */

.footer {

  background-color: $dark-bg-cl;
  color: $white-cl;

  &__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
   
    @include mq(tab) {
      flex-direction: row;
    }

    @include mq(tab-only) {
      justify-content: space-around;
    }

    @include mq(desk) {
      align-items: baseline;
      gap: 70px;
    }
    }
  
  &__address {
    font-style: inherit;

    @include mq(noDesk) {
      text-align: center;
    }
  }

  &--select {
    transition: color $animation;
  }

  &--select:hover,
  &--select:focus {
    color: $accent-cl;
  }

  &__item--position:not(:last-child) {
    margin-bottom: 9px;
  }

  &--contact {
    color: $footer-cont-cl;
  }
}