// Company Contacts

.contacts {
  @include mq(mob-only) {
    display: none;
  }

  @include flex-center;

  @include mq(desk) {
    gap: 30px;
  }

  @include mq(tab-only) {
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 10px;

    @include line-height(12px, 14.06px);
  }

  &__link {
    @include flex-center;

    @include mq(desk) {
      @include padding-element;
    }
  }

  &__link:hover,
  &__link:focus {
    color: $accent-cl;
  }

  &--position {
    gap: 8px;

    @include mq(desk) {
      gap: 10px;
    }
  }
}

.header__contacts {
  margin-left: auto;
}
