// Company Contacts

.contacts {

  @include mq (mob-only) {
    display: none;
  }
  
  @include flex-center;
  gap: 50px;

  &__link {
    @include flex-center;
    @include padding-element;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-cl;
  }

  &--position {
    gap: 10px;
  }
}

.header__contacts {
  margin-left: auto;
}
