.nav {
  @include mq(mob-only) {
    display: none;
  }

  color: $title-txt-cl;

  &__list {
    @include flex-center;
    gap: 50px;
  }

  &--current {
    color: $accent-cl;

    @include mq(tab) {
      position: relative;
    }
  }

  @include mq(tab) {
    &--current::after {
      content: "";

      position: absolute;
      bottom: -1px;
      left: 0;

      display: block;
      width: 100%;
      height: 4px;

      border-radius: $radius-current;
      background-color: $accent-cl;
    }
  }

  &__link {
    @include flex-center;
    @include padding-element;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-cl;
  }
}
