// slogans in the footer

.slogan {
  display: block;

  line-height: calc(16 / 14);
  text-transform: uppercase;

  @include mq(noDesk) {
    text-align: center;
  }

  &--position {
    margin-bottom: 20px;
  }
}