/* Subscription in the footer*/

.subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  @include mq(desk) {
    @include flex-center;
    gap: 12px;
  }

  // &--position {
  //   @include mq(desk) {
  //     margin-left: auto;
  //   }

  //   @include mq(noDesk) {
  //     @include block-center;
  //   }
  // }

  &__user-mail {
    width: 100%;
    max-width: 450px;
    @include mq (desk) {
      width: 358px;
    }
    height: 50px;
    padding: 15px;

    border: 1px solid $border-subsc-cl;
    border-radius: $radius-standart;
    box-shadow: $shadow-hero-subsc-btn;

    background-color: transparent;

    transition: border-color $animation;
  }

  &__user-mail--position {
    @include mq(desk) {
      margin-right: auto;
    }
  }

  &__user-mail:hover,
  &__user-mail:focus {
    border-color: $white-cl;
  }

  &__user-mail:placeholder-shown {
    font-weight: 400;
    @include line-height(16px, 20px);
    letter-spacing: 0.03em;

    color: $footer-cont-cl;
  }

  &__user-mail:not(:placeholder-shown):required {
    color: $footer-cont-cl;
    border-color: $white-cl;
  }
}
